* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.enter {
    margin: 50px auto;
    width: 620px;
    padding-left: 240px;
}

.field-title {
    float: left;
    width: 100px;
}

.field-input {
    float: left;
}

.field-text input {
    width: 200px;
}

.error {
    display: none;
    margin-left: 50px;
    width: 240px;
}

.field {
    margin-bottom: 30px;
}

.sign-in {
    margin-left: 210px;
}

.user-menu {
    margin: 30px 200px 0 0;
    float: right;
}

.user-name {
    margin: 100px auto 0;
    width: 400px;
    padding-left: 200px;
    font-size: 18px;
}
