input {
    padding: 5px 5px;
}

a {
    text-decoration: underline;
    color: #006ACD;
}

a:hover {
    text-decoration: none;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.error {
    color: red;
}

.field-input {
    margin-top: -5px;
}

.sign-in {
    margin-top: -5px;
}