* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.clear {
	clear: both;
}

#main {
	height: auto !important;
	height: 100%;
	margin: 0 0 -50px 0;	/* footer height */
	min-height: 100%;
	padding: 0;
}

#footer-place, #footer {
	height: 30px;
	margin: 0;
	padding: 20px 0 0 0;
}

#footer {
	margin: 0 0 0 30px;
}

#header {
	padding: 10px;
}

#logo {
	float: left;
	width: 150px;
}

#logo img {
	width: 150px;
}

#search {
	float: left;
	padding: 20px 0 0 20px;
}

#content {
	margin: 30px 0 0 180px;
	width: 600px;
}

.site {
	margin-top: 30px;
}

.site a {
	display: inline-block;
	padding-bottom: 10px;
}

#search  input[type=submit] {
	margin-left: 10px;
	min-width: 100px;
}

#search  input[type=text] {
	width: 450px;
}