body {
	font-family: Verdana, sans-serif;
}

#header {
	background-color: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}

input {
	border-radius: 3px;
	padding: 5px 10px;
	border: 1px solid #CCC;
	font-size: 15px;
}

input[type=submit] {
	background-color: #70A4C7;
	color: #fff;
	text-align: center;
}

input[type=submit]:hover {
	opacity: 0.8;
}

input[type=text] {
	color: #666;
}

.site {
	font-size: 14px;
}

.site a {
	color: #006ACD;
	font-size: 16px;
}

.site a:hover {
	text-decoration: none;
}